body {
    font-family: "Roboto", sans-serif;
    
    font-size: 15px;
    line-height: 1.6;
    color: #263238;
    
    margin: 0;
    
    /* background-color: #F5F7FA; */
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}


/* Container */
.container {
    width: 100%;
    max-width: 1230px;
    padding: 0 15px;
    margin: 0 auto;
}


.section {
    box-sizing: border-box;
    
    width: 100%;
    
    background-color: #fff;
    
    
}

.text--green {
    color: #43a046;
} 

.section--gray {
    box-sizing: border-box;

    width: 100%;

    background-color: #F5F7FA;


}

/* Header */

.header {
    background-color: #F5F7FA
}


.header__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;

    margin: 0 -5px;
    
}

.header__item {
    display: flex;
    gap: 8px;

}

.header__logo{
    
    
    font-size: 40px;
    font-weight: 700;
}

.header__logo--img {
    width: 40px;
    margin: auto 0;
}


/* Nav */
.nav {
    font-family: "Inter", sans-serif;
    font-size: 16px;
    line-height: 24px;

    justify-content: flex-end;

}

.nav__link{
    display: inline-block;
    position: relative;
    vertical-align: top;
    margin: 0 15px;

    font-size: 16px;

    text-decoration: none;
    color: rgba(24, 25, 31, 1);

    transition: color .2s linear;

}

.nav__link::after {
    content: "";
    display: block;
    width: 100%;
    height: 3px;

    background-color: #43a046;
    opacity: 0;

    position: absolute;
    top: 100%;
    z-index: 1;

    transition: opacity .1s linear;
}

.nav__link:hover {
    color: #43a046;
}

.nav__link:hover::after {
    opacity: 1;
}


/* Button */

.reg__actions a {
    display: inline-block;

    font-size: 16px;
    padding: 10px 20px;
    border-radius: 10px;
    border: 2px solid #F5F7FA ;


    text-decoration: none;

}

.btn--green {
    color: #fff;

    background-color: #43a046;
    
    transition: color .1s linear;
    transition: background .1s linear;

}

.btn--green:hover {
    color: #43a046;
    background-color: #fff;

    border: 2px solid #43a046 ;
}


.btn--gray {
    background-color: transparent;
    color: #43a046;
}

.btn--gray:hover {
    background-color: #dbdddf;
    transition: background .1s linear;
}

/* Intro */


.intro {
    width: 100%;

    max-height: 100vh;
}

.intro__inner {
    width: 100%;
    padding: 96px 0;

    display: flex;
    align-items: center;
    justify-content: space-around;

}

.intro__title {
    max-width: 660px;
    font-size: 64px;
    font-weight: 450;
    line-height: 1.2;
}

.intro__suptitle {
    font-size: 18px;
    font-weight: 400;
    color:#89939E;

    padding: 20px 0;
}


.reg__actions .big__btn {
    cursor:pointer;

    padding: 14px 32px;
    border-radius: 7px;
}

/* Slider */

.slider {
    display: flex;
    justify-content: center;
}

.slider__item {
    width: 10px;
    height: 10px;

    border-radius: 100%;

    margin: 25px 3px;
}

.slider__item--first {
    background-color: #43a046;
}

.slider__item--second {
    background-color: #C8E6C9;
}

.slider__item--third {
    background-color:#C8E6C9;
}

.slider__item--first, .slider__item--second, .slider__item--third {
    cursor: pointer;
}

/* Clients */

.section__content {

}

.section__header {
    text-align: center;
}

.section__title {
    font-family: "Inter", sans-serif;
    font-size: 36px;
    font-weight: 600;
    padding-top: 40px;
}

.section__title--center {
    max-width: 510px;
    margin: 0 auto;
}

.section__suptitle {
    font-size: 16px;
    font-weight: 400;
    color:#89939E;
    max-width: 585px;
    margin: 0 auto;
}

/* Icons */
.icons__item {
    display: flex;

    justify-content: space-evenly;
    align-items: center;

    margin: 50px auto;
}

/* Services */

.services__item {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;

    margin: 16px auto 0 auto;

    gap: 20px;
}

.services__cards {
    position: relative;
    padding: 0 10px;

    width: 300px;
    height: 260px;

    border-radius: 8px;

    box-shadow: 0 2px 4px -1px #ABBED1;
    transition: transform .2s ease;
    
}

.services__cards::before {

    content: '';
    position: absolute;
    
    width: 50px;
    height: 50px;
    left: 140px;
    bottom: 180px;
    
    background-color: #E8F5E9;
    border-radius: 18px 5px 10px 5px;
    
    z-index: 1;
    
    transition: box-shadow .2s ease;
    transition: transform .2s ease;
    
}

.services__cards:hover::before {
    transform: translate(-14px, -5%);
}

.services__cards:hover {
    transform: scale(1.10);
    box-shadow: 0 2px 7px 1px #ABBED1;
    

}

.services__background:hover {
        transform: translate(-47px, 0%);
}

.services__icon {

    display: flex;
    justify-content: center;
    
    margin: 24px auto; 
}

.services__img {
    position: relative;
    z-index: 2;
}


.services__text {
    margin: 0 auto;
}

.services__title {
    padding: 0 32px;

    font-family: "Inter", sans-serif;
    font-size: 28px;
    font-weight: 700;
    line-height: 36px;

    text-align: center;
}

.services__suptitle {
    font-family: "Inter", sans-serif;

    margin: 8px auto;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;

    text-align: center;
    color:#89939E;
}

.services__info {
    background-color: #fff;
    max-width: 100%;
    height: 100%;

    display: flex;

    margin: 42px 0;
}

.services__info__text {
    padding: 83px 30px;
}


.services__info__title {
    font-family: "Inter", sans-serif;
    font-size: 36px;
    font-weight: 600;
    line-height: 44px;

    max-width: 600px;
}

.services__info__suptitle {
    color:#89939E;
    font-size: 14px;
    padding: 16px 0;

    max-width: 565px;
}

.services__info__btn {
    text-decoration: none;

    cursor:pointer;
    
    margin: 10px 0;
    padding: 14px 32px;
    border-radius: 7px;

}


/* Statistics */

.stat {
    padding: 70px 20px;
    

    display: flex;
    justify-content: space-between;
}

.stat__text {
    padding: 21px 0;
}

.stat__title {
    font-family: "Inter", sans-serif;
    font-size: 36px;
    font-weight: 600;
    line-height: 44px;

    max-width: 390px;
}


.stat__suptitle {
    padding: 8px 0;

    font-size: 16px;
    font-weight: 400;
    line-height: 24px;

    color: #717171;
}

.stat__container {

    display: flex;
    flex-wrap: wrap;
    gap: 38px;
    max-width: 515px;
}

.stat__item {
    display: flex;
    gap: 10px;
    flex: 1;
    min-width: 150px;
}

.stat__icon {
    margin: 0 10px;
    width: 55px;
    height: 55px;
}

.stat__counts--text {
    text-align: left;
}

.stat__num {
    font-family: "Inter", sans-serif;
    font-size: 28px;
    font-weight: 700;
    line-height: 36px;
}

.stat__label {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;

    color: #89939E;
}

/* About 3 */

.about__content {
    display: flex;

    padding: 32px 0;
}

.about__text {
    padding: 5px 72px;
}

.about__subtitle {
    font-family: "Inter", sans-serif;
    font-size: 16px;    
    font-weight: 500;
    line-height: 24px;

    color: #89939E;
}

.about__author {
    font-size: 20px;
    font-weight: 600;
    line-height: 28px;

    padding: 16px 0;
}

.about__author-company {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;

    color: #89939E;
}

.about__content-icons {
    display: flex;

    padding: 22px 0;
}

.about__icons {
    display: flex;
    flex-wrap: wrap;
    max-width: 535px;
    
}

.about__img-item {
    position: relative;
    display: flex;
    align-items: center;

    width: 40px;
    height: 40px;

    margin-right: 41px;

    z-index: 2;
}

.about__item {
    position: relative;
    z-index: 1;
    width: max-content;
}

.about__item::before {
    content: '';
    position: absolute;

    width: 48px;
    height: 48px;
    background-color: rgba(232, 245, 233, 1);
    border-radius: 8px;

    top: 0;
    right: 0;
    left: -1px;

    opacity: 0;

    z-index: 2;
    transition: opacity .2s linear;
    transition: transform .2s ease;

    cursor: pointer;
}


.about__item:hover:before {
    opacity: 1;
    transform: scale(1.15);
}

.about__desctiption {
    margin: 5px 0;
    text-decoration: none;

    color: #43a046;
}

/* About Icons */
svg {
    transition: fill .2s linear;
    transition: transform .2s ease;
    cursor: pointer;
}

svg:hover {
    fill: #5417D7;
    transform: scale(1.15);
}

/* Blog */

.blog__content {
    margin-top: 16px;
    /* margin-bottom: 150px; */

    display: flex;
    flex-wrap: wrap;

    justify-content: space-around;
    gap: 10px;
}

.blog__item {
    position: relative;
    display: flex;

    z-index: 1;
    height: 380px;
}

.blog__text {
    position: absolute;

    background-color: #F5F7FA;
    border-radius: 8px;
    box-shadow: 0px 8px 16px 0px rgba(171, 190, 209, 0.4);

    z-index: 2;

    margin: 193px 25px 0 25px;
    padding: 11px;

    font-family: "Inter", sans-serif;
    text-align: center;

}

.blog__title {
    font-size: 20px;
    font-weight: 600;
    line-height: 28px;

    margin: 5px 11px 24px 11px;

    color: #717171;
}

.blog__btn-a {
    padding-bottom: 10px;
}

.blog__btn {
    text-decoration: none;
    color: #43a046;
    padding: 10px 0;

    font-size: 20px;
    font-weight: 600;
    line-height: 28px;
}


/* Blog CTA */ 

.cta {
    margin-top: 80px;
}

.cta__title {
    max-width: 650px;
    margin: 0 auto;
    padding: 32px 0;

    text-align: center;
    font-size: 64px;
    font-weight: 600;
    line-height: 76px;
}

.cta__btn {
    display: flex;
    justify-content: center;

    padding-bottom: 32px;
}

/* Footer */

.footer {
    background-color: #263238;

    color: #fff;
}

.footer__logo {
    margin-right: 100px;
}

.footer__inner {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;

    padding: 64px 0;
}


.footer__info {
    padding: 42px 0;
}

.footer__legal {
    font-family: "Inter", sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;

    padding-bottom: 8px;
}

.footer__reserved {
    font-family: "Inter", sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
}

.footer__social-content {
    display: flex;
    gap: 16px;
}


.footer__social-icons a {
    text-decoration: none;
    color: #fff;

}

.footer__icon {
    display: flex;
    justify-content: center;
    align-items: center;
    
    background-color: #3d474e;
    border-radius: 100%;
    
    width: 46px;
    height: 46px;
    
    font-size: 25px;
    
    transition: color .2s ease;
    transition: background-color .2s ease;    
    transition: transform .2s ease;
    
}

.footer__social-icons a:hover, .footer__icon:hover {
    background-color: #fff;
    color: #43a046;

    transform: scale(1.10);
}

/* Footer Company */

.footer__company-title {
    font-family: "Inter", sans-serif;
    font-size: 20px;
    font-weight: 600;
    line-height: 28px;

    padding: 18px 0 0 0;
}


.footer__links a {
    padding: 15px 0 0 0;
}

.footer__links a {
    display: inline-block;
    position: relative;
    text-decoration: none;
    color: #fff;

    transition: opacity .1s linear;

}

.footer__links a::after {
    content: "";
    display: block;
    width: 100%;
    height: 3px;

    background-color: #43a046;
    opacity: 0;

    position: absolute;
    top: 100%;
    z-index: 1;

    transition: opacity .1s linear;
}

.footer__links a:hover {
    color: #43a046;
}

.footer__links a:hover::after {
    opacity: 1;
}

/* Footer Submit  */


.submit__title {
    padding: 18px 0 24px 0; 
    font-family: "Inter", sans-serif;

    font-size: 20px;
    font-weight: 600;
    line-height: 28px;
}

.submit__item {
    position: relative;
    display: flex;
}
.submit__holder {
    background-color: #3d474e;
    border: none;
    
    outline: none;

    color: #fff;
    padding: 13px 100px 13px 13px;
    border-radius: 8px;
}

.submit__holder::placeholder {
    color:  rgba(217, 219, 225, 1);
}

.submit__btn {
    border: none;
    outline: none;
    background-color: transparent;

    cursor: pointer;
    color: #fff;
    position: absolute;
    right: 15px;
    top: 33%;

}

@media (max-width: 1230px) {

    /* Intro */
    .intro__title {
        font-size: 56px;
    }

    .intro__suptitle {
        font-size: 15px;
    }
}

@media (max-width: 990px) {

    .header__logo {
        font-size: 36px;
    }

    /* Intro */
    .intro__title {
        font-size: 50px;
    }

    .intro__suptitle {
        font-size: 14px;
    }

    /* Reg Buttons */

    .reg__actions a {
        font-size: 14px;
    }

    /* Nav Bar */

    .nav__link {
        font-size: 14px;
    }

    .reg__actions .big__btn {
        padding: 14px 56px;
    }

    .slider__item {
        margin: 16px 3px;;
    }

    /* About */

    .about__text {
        padding: 0 35px;
    }

    
    .about__subtitle {
        font-size: 14px;
    }
    
    .about__icons {
        max-width: 275px;
        gap: 15px;
    }

    .about__desctiption {
        padding: 20px 0;
    }

    /* Statistics */ 

    .stat__text {
        padding: 15px 0;
    }

    .stat__title {
        font-size: 32px;

        max-width: 345px;
    }

    .stat__num {
        font-size: 24px;
    }

    .stat__label {
        font-size: 14px;
    
        line-height: 16px;
    }

    /* Ð¡TA */

    .cta {
        margin-top: 40px;
    }

    .cta__title {
        font-size: 49px;
    }

    
    /* Services */

    .services__info__title {
        font-size: 30px;
    }

    
}

@media (max-width: 945px) {

    /* Nav Bar */
    .nav, .log__btn{
        display: none;
    }

    /* Statistics */

    .stat {
        flex-wrap: wrap;
        justify-content: center;

        padding: 50px 20px;
    }
    
    .stat__text {
        padding: 0;
    }

    .stat__title {
        text-align: center;

        font-size: 36px;
        max-width: 380px;
    }
    
    .stat__suptitle {
        padding: 8px 0 20px 0;

        text-align: center;
    }

    .stat__container {
        padding: 0 26px;
    }




}

@media (max-width: 900px) {
    /* Intro */

    .intro__inner {
        flex-wrap: wrap;
        padding: 56px 0;
    }

    .intro__title {
        max-width: 500px;
        font-size: 45px;
    }

    .intro__suptitle {
        
        font-size: 15px;
    }

    .intro__img {
        width: 300px;
        height: 300px;
    }

    

    /* Nav */

    .nav, .log__btn{
        display: none;
    }

    .reg__actions .big__btn {
        padding: 14px 54px;
    }
}


@media (max-width: 830px) {
    /* Nav */

    .log__btn {
        display: none;
    }

    /* Intro */

    .intro {
        max-height: 100vh;
    }

    .intro__inner {
        padding: 15px 0 0 0;
    }

    .intro__title {
        text-align: center;
    }

    .intro__suptitle {
        text-align: center;
        padding: 15px 0;
    }

    .intro__img {
        margin-top: 10px;
        padding: 10px
    }

    .reg__actions {
        display: flex;
        justify-content: center;
    }

    /* Services */

    .services__item {
        flex-direction: column;
        align-items: center;

        gap: 30px;
    }

    .services__info__img {
        display: flex;
    }

    /* About */

    .about__content {
        flex-wrap: wrap;
        justify-content: center;
    }

    .about__img {
        width: 300px;
    }

    .about__subtitle, .about__author, .about__author-company {
        text-align: center;
    }

    .about__author {
        padding: 16px 0 5px 0;
    }

    .about__content-icons {
        justify-content: center;
    }

    .about__icons {
        max-width: 575px;
        gap: 10px;
    }

    .about__desctiption {
        padding: 5px 0;
    }

    /* Blog */

    .blog__content {
        flex-direction: column;
        align-items: center;

        margin-top: 30px;
        gap: 20px;
    }

    .footer__inner {
        gap: 30px;
    }
  
    .submit__title {
        text-align: center;
    }
}

@media (max-width: 780px) {

    /* About */
    .about__icons {
        max-width: 300px;
        gap: 20px;
    }

    .about__desctiption {
        padding: 33px 0;
    }
}

@media (max-width: 770px) {

    /* Services */

    .services__info {
        flex-wrap: wrap;
        justify-content: center;
    }

    .services__info__text {
        padding: 25px 30px 25px 30px;
    }

    .services__info__title {
        text-align: center;
    }

    .services__info__suptitle {
        text-align: center;
        max-width: 601px;
    }

    /* About */

    .about__img {
        width: 340px;
        height: 340px;
    }
    
    /* footer */

    .footer__logo {
        margin-right: 0;
    }
}


@media (max-width: 670px) {

    /* About */
    .about__content-icons {
        flex-direction: column;
        align-items: center;
    }

    .about__img-item {
        margin-right: 0;
    }

    .about__icons {
        max-width: none;
        gap: 25px;
    }

}


@media (max-width: 770px) {

}

@media (max-width: 575px) {

}