body {
    font-family: "Roboto", sans-serif;

    font-size: 15px;
    line-height: 1.6;
    color: #263238;

    margin: 0;

    background-color: #F5F7FA;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}


/* Container */
.container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;

    max-height: 100vh;
    
}

.section {
    box-sizing: border-box;

    width: 100%;

    background-color: #fff;


}

/* Header */


.header__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;

    margin: 0 -5px;
    
}

.header__item {
    display: flex;
    gap: 8px;

}

.header__logo{
    
    
    font-size: 40px;
    font-weight: 700;
}

.header__logo--img {
    width: 40px;
}


/* Nav */
.nav {
    font-family: "Inter", sans-serif;
    font-size: 16px;
    line-height: 24px;

    justify-content: flex-end;

}

.nav__link{
    display: inline-block;
    position: relative;
    vertical-align: top;
    margin: 0 15px;

    text-decoration: none;
    color: rgba(24, 25, 31, 1);

    transition: color .2s linear;

}

.nav__link::after {
    content: "";
    display: block;
    width: 100%;
    height: 3px;

    background-color: #43a046;
    opacity: 0;

    position: absolute;
    top: 100%;
    z-index: 1;

    transition: opacity .1s linear;
}

.nav__link:hover {
    color: #43a046;
}

.nav__link:hover::after {
    opacity: 1;
}


/* Button */

.reg__actions a {
    display: inline-block;

    padding: 10px 20px;
    border-radius: 10px;
    border: 2px solid #F5F7FA ;


    text-decoration: none;

}

.btn--green {
    color: #fff;

    background-color: #43a046;
    
    transition: color .1s linear;
    transition: background .1s linear;

}

.btn--green:hover {
    color: #43a046;
    background-color: #fff;

    border: 2px solid #43a046 ;
}


.btn--gray {
    background-color: none;
    color: #43a046;
}

.btn--gray:hover {
    background-color: #dbdddf;
    transition: background .1s linear;
}

/* Intro */


.intro {
    width: 100%;
}

.intro__inner {
    width: 100%;
    margin: 96px 0;

    display: flex;
    align-items: center;
    justify-content: space-around;

}

.intro__title {
    max-width: 660px;
    font-size: 64px;
    font-weight: 450;
    line-height: 1.2;
}

.intro__suptitle {
    font-size: 18px;
    font-weight: 400;
    color:#89939E;

    padding: 20px 0;
}

.text--green {
    color: #43a046;
}

.reg__actions .big__btn {
    cursor:pointer;

    padding: 14px 32px;
    border-radius: 7px;
}

/* Slider */

.slider {
    display: flex;
    justify-content: center;
}

.slider__item {
    width: 10px;
    height: 10px;

    border-radius: 100%;

    margin: 25px 3px;
}

.slider__item--first {
    background-color: #43a046;
}

.slider__item--second {
    background-color: #C8E6C9;
}

.slider__item--third {
    background-color:#C8E6C9;
}

/* Section */



.section__header {
    text-align: center;
    
    
}

.section__title {
    font-family: "Inter", sans-serif;
    font-size: 36px;
    font-weight: 600;
    padding-top: 40px;
}

.section__title--center {
    max-width: 510px;
    margin: 0 auto;
}

.section__suptitle {
    font-size: 16px;
    font-weight: 400;
    color:#89939E;
}

/* Icons */
.icons__item {
    display: flex;
    justify-content: space-evenly;
    align-items: center;

    margin: 50px auto;
}

/* Services */

.services__item {
    display: flex;
    justify-content: space-around;

    margin: 16px auto 0 auto;
}

.services__cards {
    padding: 0 10px;

    width: 300px;
    height: 260px;

    border-radius: 8px;

    box-shadow: 0 2px 4px -1px #ABBED1;
}

.services__icon {

    display: flex;
    justify-content: center;
    
    margin: 24px auto; 
    padding-left: 40px
}

.services__img {
    position: relative;
    z-index: 2;
}

.services__background {
    position: relative;
    
    transform: translate(-33px, 10%);
    
    width: 50px;
    height: 50px;
    
    background-color: #E8F5E9;
    border-radius: 18px 5px 10px 5px;
    
    z-index: 1;
    
}

.services__text {
    margin: 0 auto;
}

.services__title {
    padding: 0 32px;

    font-family: "Inter", sans-serif;
    font-size: 28px;
    font-weight: 700;
    line-height: 36px;

    text-align: center;
}

.services__suptitle {
    font-family: "Inter", sans-serif;

    margin: 8px auto;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;

    text-align: center;
    color:#89939E;
}

.services__info {
    background-color: #fff;
    max-width: 100%;
    height: 100%;

    display: flex;
}

.services__info__text {
    padding: 83px 0;
}

.services__info__title {
    font-family: "Inter", sans-serif;
    font-size: 36px;
    font-weight: 600;
    line-height: 44px;

    max-width: 600px;
}

.services__info__suptitle {
    color:#89939E;
    padding: 16px 0;

    max-width: 600px;
}

.services__info__btn {
    text-decoration: none;

    cursor:pointer;
    
    margin: 10px 0;
    padding: 14px 32px;
    border-radius: 7px;

}

.stat {
    background-color: #F5F7FA;
}